<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
         PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyBatis.mybatis3.mapper.TestMapper">
    <select id="selectStudent" resultType="MyBatis.mybatis3.entity.Student">
        select * from student
    </select>
</mapper>