<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
         PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Database.MyBatis.mybatis4.mapper.TestMapper">

    <select id="selectStudent" resultType="Student">
        select * from student
    </select>

    <select id="getStudentById" resultType="Student">
        select * from student where sid = #{id}
    </select>

    <insert id="addStudent">
        insert into student(name, sex) values(#{name}, #{sex})
    </insert>

    <delete id="deleteStudent">
        delete from student where sid = #{id}
    </delete>

    <update id="updateStudent">
        update student set name=#{name}, sex=#{sex} where sid=#{id}
    </update>

</mapper>